* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1062px;
  margin: 0 auto;
  padding: 0;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #00AFDB;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 52px 14px 45px;
  transition: background-color .4s ease;
  letter-spacing: -1px;
}

.button:hover {
  background-color: #009CC2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.text {
  font-size: 14px;
  color: #4E4E4E;
}

.information__link {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
}
/* End base style */

/* Start header style */
.header {
  min-height: 95px;
  background-color: #000;
}

.main {
  margin-top: -1px;
}


.main-menu {
  display: flex;
  padding-left: 233px;
}

.main-menu__item {
  padding-top: 38px;
  position: relative;
}

.main-menu__item--active::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  top: 58px;
  background-color: #fff;
}

.main-menu__item--active .main-menu__link {
  opacity: 1;

}

.main-menu__item--about {
  margin-right: 85px;
}

.main-menu__item--sullabus {
  margin-right: 102px;
}

.main-menu__item--projects {
  margin-right: 83px;
}

.main-menu__item--faq {
  text-transform: uppercase;
}

.main-menu__logo {
  margin-right: 101px;
  padding-top: 25px;
}

.main-menu__link {
  transition: all .4s linear;
  opacity: .8;
}

.main-menu__link-logo {
  transition: all .4s linear;
}

.main-menu__link-logo:hover {
  transform: scale(1.1);
}

.main-menu__link:hover {
  opacity: .3;
}
/* End header style */

/* Start main style */
.hero {
  background: url(assets/bg-header.png) bottom center no-repeat;
  background-color: #000;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 136px;
  margin-bottom: 183px;
}

.information__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 22px;
  letter-spacing: 5px;
}

.information__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.social {
  padding-bottom: 89px;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  margin-right: 30px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  transition: opacity .3s ease-in;
}

.social__icon:hover {
  opacity: .5;
}

.rappresent {
  display: flex;
  padding: 120px 0 140px 0;
}

.rappresent__list {
  padding-top: 177px;
  margin-right: 248px;
}

.rappresent__title {
  max-width: 370px;
}

.rappresent__text {
  max-width: 407px;
  margin-bottom: 31px;
}

.rappresent__inner-image {
  max-width: 407px;
  overflow: hidden;
}

.community {
  background-color: #F5F6F7;
}

.community__inner {
  display: flex;
  padding: 80px 0 140px 0;
}

.community__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 76px;
  margin-right: 139px;
  margin-left: auto;
}

.community__inner-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.community__image {
  border-radius: 50%;
}

.community__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.community__text {
  text-align: center;
  max-width: 298px;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.pagination__list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 546px;
}

.pagination__item {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: middle;
}

.pagination__item:first-child {
  margin-right: 11px;
  width: 15px;
  height: 11px;
}

.pagination__item:nth-child(4) {
  margin-right: 0px;
}

.pagination__item:last-child {
  margin-left: 12px;
  margin-right: 0px;
  margin-right: 13px;
  width: 15px;
  height: 13px;
}

.pagination__prev,
.pagination__next {
  height: 10px;
  width: 8px;
  cursor: pointer;
  transition: .4s ease-in;
}

.pagination__prev:hover,
.pagination__next:hover {
  transform: scale(2);
}

.slider__list {
  display: flex;
  max-width: 894px;
  overflow: hidden;
}

.slider__item {
  flex-shrink: 0;
}

.slider__inner-image {
  width: 407px;
  height: 244px;
  overflow: hidden;
}

.slider__item {
  margin-right: 30px;
}

.develope {
  display: flex;
  align-items: center;
  padding: 120px 0 140px 0;
}

.develope__list {
  order: 1;
}

.develope__inner-image {
  width: 407px;
  height: 582px;
  order: 0;
  margin-right: 139px;
  overflow: hidden;
}

.develope__text {
  line-height: 20px;
  margin-bottom: 32px;
  max-width: 407px;
}

.subscribe {
  background: url(assets/bg-subscribe.png) center / 100% no-repeat;
  background-color: #4E4E4E;
  padding: 217px 0 277px 0;
}

.subscribe__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__title {
  color: #fff;
  margin-bottom: 32px;
}

.form {
  display: flex;
}

.form__inner {
  position: relative;
}

.form__input {
  padding: 14px 10px 12px 21px;
  min-width: 406px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.form__inner:hover::before {
  background-color: #009CC2;
}

.form__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.form__inner::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 66px;
  height: 45px;
  background-color: #00AFDB;
  z-index: 100;
}

.form__inner::after {
  content: "";
  position: absolute;
  top: 34%;
  right: 24px;
  display: block;
  width: 10px;
  height: 5px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  transform: rotate(-45deg);
  z-index: 101;

}

.application__inner {
  display: flex;
  flex-direction: column;
  padding: 120px 0 180px 0;
}

.aplication__title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aplication__text {
  max-width: 483px;
  margin-bottom: 30px;
  text-align: center;
}

.aplication__buttons {
  padding-left: 330px;
}

.aplication__button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 18px 18px 16px 19px;
  background-color: #00AFDB;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  position: relative;
  transition: .4s linear;
}

.aplication__button:hover {
  background-color: #009CC2;
}

.aplication__button:first-child {
  margin-right: 84px;
}

.aplication__button:first-child::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -30%;
  width: 16px;
  height: 18px;
  background-image: url(assets/apple.svg);
  z-index: 101;
}

.aplication__button:last-child::after {
  content: "";
  position: absolute;
  top: 26%;
  right: -30%;
  width: 19px;
  height: 22px;
  background-image: url(assets/android.svg);
  z-index: 101;
}

.aplication__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: -60px;
  display: block;
  width: 60px;
  height: 50px;
  background-color: #009CC2;
  z-index: 100;
}
/* End main style */

/* Start footer style */
.footer {
  background-color: #000;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

.more__list {
  display: flex;
}

.more__item {
  margin-right: 40px;
  position: relative;
}

.more__item:last-child {
  margin-right: 380px;
}

.more__link {
  opacity: .9;
  position: relative;
  transition: all .3s ease-in-out;
}

.more__link:hover {
  color: #02CDFF;
  opacity: .8;
}

.more__item::before {
  content: "";
  position: absolute;
  top: 6px;
  right: -50%;
  height: 8px;
  width: 1px;
  background-color: #4E4E4E;
}

.more__item:last-child::before {
  display: none;
}

.footer__inner-image {
  margin-right: 450px;
  transition: all .3s linear;
}

.footer__inner-image:hover {
  transform: scale(1.1);
}

.copyright {
  color: #818181;
}
/* End footer style */